.container {
    padding: 0; 

    mat-card {
        float: left;
        position: relative;
        width: 44%;
        margin: 1%;

        #map {
            width: 45%; 
            height: 90%; 
            position:fixed; 
        }

        #mp_name{
            padding: 10px;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 768px) {

    .container {

        mat-card {

            width: 100%; 

            #map {
                width: 100%; 
            }
        }
    }
}